target/*
.settings/*
.classpath
.project
.idea
*.iml
/target
/target
data/target/*
file/target/*
utils/target/*
web/target/
data/target/
file/target/
utils/target/
web/target/
*/target/*
*/.settings/*
